name: Static Analysis

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:

jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@master
        with:
          severity: 'warning'
          check_together: 'yes'

      - name: Install shfmt
        uses: mfinelli/setup-shfmt@v3

      - name: Run shfmt
        run: shfmt -ln=bash -ci -i 4 -s -d .
